body {
  margin: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.panel {
  position: relative;
  padding: 22px 20px 22px 20px;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: #f0efed;
  flex: 1 1 0;
  width: auto;
  margin: 0 15px;
}

.panel__tab {
  position: absolute;
  right: 0;
  width: fit-content;
  height: 30px;
  top: -40px;
  border-radius: 15px 15px 0px 0px;
  background: #f0efed;
  z-index: -1;
  padding: 10px;
}

.panel__tab::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 0;
  width: 40px;
  height: 100%;
  background: #f0efed;
  transform: skewX(-15deg);
  transform-origin: top right;
  border-top-left-radius: 10px;
}

.panel__tab__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 5px 10px 14px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: #000016;
}

.panel__tab__header h3 {
  margin: 0;
  font-family: "Manrope";
  font-size: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000016;
}

.panel__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.up_next .panel__media {
  width: 100%;
  height: 100%;
  border: solid 1px #000016;
  border-radius: 10px;
  overflow: hidden;
  background: #ddd;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
}

.up_next .panel__media img {
  width: 100%;
  object-fit: contain;
}

#round-num {
  font-family: "acumin-pro-wide";
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 28px;
  margin: 0;
  text-transform: uppercase;
}

#round-location {
  font-family: "Manrope";
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

.race-countdown {
  flex: 1; /* take remaining space */
  min-height: 0; /* important in flex layouts */
  display: flex;
  padding: 10px;
  margin: 0;
  background: #000016;
  color: #f1f1f1;
  font-family: "Manrope";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1em;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.daily_lec .panel__body {
  height: 100%;
}

.panel.daily_lec {
  top: 80px;
}

.daily_lec .panel__media {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: #ddd;
}

.daily_lec .panel__media img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#stand-year {
  font-family: "acumin-pro-wide";
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 28px;
  margin: 0 0 7px 0;
  text-transform: uppercase;
  line-height: 1.1em;
}

#stand-title {
  font-family: "Manrope";
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0 0 7px 0;
  text-transform: uppercase;
}

table {
  border-collapse: separate;
  border-spacing: 4px 3px;
  width: 100%;
}

th,
td {
  padding: 7px 10px;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 15px;
}

th {
  background-color: #000016;
  color: #fff;
  text-align: left;
  border-radius: 10px 0px 0px 10px;
}

td {
  background-color: #fff;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}

.separator {
  width: 100%;
  margin: 10px 0 15px 0;
  border-bottom: 1px solid #000016;
}

/* mobile mode */
@media (max-width: 640px) {
  .container {
    height: 760px;
  }
  .panel {
    display: none;
  }
  .panel.is-active {
    display: block;
  }

  .pager {
    display: flex;
    gap: 14px;
  }
}

/* desktop mode */
@media (min-width: 641px) {
  .pager {
    display: none;
  }
}
